<!DOCTYPE html>
<html data-ng-app="app">
<head>
	<title>Projekti</title>
	<script src="vendor/angular.min.js"></script>
	<script src="vendor/angular-route.min.js"></script>
	<script src="js/conf/conf.js"></script>
	<script src="js/controllers/FirstController.js"></script>
	
</head>
<body>
	<div class="container" data-ng-controller="FirstController">
		<ul>
			<li data-ng-repeat="proj in projects">{{ proj.name }}
			</li>
		</ul>
		Name:
		<br/>
		<input type="text" data-ng-model="name" />
		<br />
		<br />
		Project Name:<br />
		<input type="text" data-ng-model="newProject.name" />
			<br />
		<button data-ng-click="addProject()">Add Project</button>
		</div>	
	</div>	
	
	<script>
		
		var app = angular.module('app',[])
			app.controller('FirstController',function($scope) {
				$scope.projects= [
					{ name: 'Project 1' },
					{ name: 'Project 2' },
					{ name: 'Project 3' }
				];
				$scope.addProject = function() {
					$scope.projects.push({ 
						name: $scope.newProject.name
				<!-- kako da input gde se unosi novi projekat da nakon unosa ponovo bude prazan? -->		
					});
				};		
			});				
	</script>
	
</body>
</html>