<!DOCTYPE html>
<html data-ng-app="app">
<head>
	<title>Locales</title>
	<script src="vendor/angular.min.js"></script>
	<script src="vendor/angular-route.min.js"></script>
	<script src="js/conf/conf.js"></script>
	<script src="js/controllers/FirstController.js"></script>
	
</head>
<body>
	<div data-ng-view data-ng-controller="FirstController">
		<ul>
			<li data-ng-repeat="proj in projects">
			{{ proj.name }}
			</li>
		</ul>
		Project Name:
		<br />
		<input type="text" data-ng-model="newProject.name" />
		<br />
		<button data-ng-click="addProject()">Add Project</button>
		</div>	
	</div>
</body>
</html>