<div data-ng-controller="FirstController">
	<div class="container">
		<div ng-include="'includes/header.html'"></div>
	</div>

	<ul>
		<li data-ng-repeat="proj in projects" onclick="location.href='#/route2'">
		{{ proj.name }}
		</li>

	</ul>
	Project Name:
	<br />
	<input type="text" data-ng-model="newProject.name" />
	<br />
	<button data-ng-click="addProject()">Add Project</button>
	<br />
	<div ng-repeat="product in products" class="offer">
	<p class="title">{{ product.title }}</p> 
	<p class="price">{{ product.price | currency }}</p> 
	<p class="date">{{ product.date | date }}</p> 
		<div class="rating">
		<p class="likes" ng-click="plusOne($index)">Like: {{ products.likes }}</p>
        <p class="dislikes" ng-click="minusOne($index)">Dislike: {{ products.dislikes }} </p>
		</div>
	</div>
		
</div>